{% extends './base.html' %}

{% block title %}FitZone{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('login') }}">
  <div class="logo-contenedor">
    <img src="static/img/imagen1.jpg" alt="Logo" class="Logo">
    <h1 class="logotexto">FITZONE</h1>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="lr">
    <h2>¡Inicia Sesión!</h2>

    <p class="plogin">¿Cómo deseas ingresar a FitZone?</p>
    <select class="tlogin" id="rol" name="rol" required>
  <option value="" disabled selected>Roles</option>
  <option value="cajero">Cajero</option>
  <option value="mantenimiento">Mantenimiento</option>
</select>

    <p class="plogin">Contraseña</p>
    <input type="password" class="tlogin" id="password" name="password">

    <button type="submit" class="login">Iniciar Sesión</button>
  </div>
</form>
{% endblock %}