{% extends './base.html' %}

{% block title %}FitZone{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
  <div class="logo-contenedor">
    <img src="static/img/imagen1.jpg" alt="Logo" class="Logo">
    
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <h1>Mantenimiento</h1>
  <a href="{{ url_for('logout') }}">Cerrar sesión</a>
{% endblock %}